<!DOCTYPE html>
<html>
<head>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <style>
    pre {
      display: inline-block;
      white-space: pre-wrap; 
      max-width: 375px; 
      height: 425px; 
      border-radius: 25px; 
      border: 1px solid #C0C0C0;
      padding: 20px;
      overflow: auto;
      width: 33%;
      font-family: system-ui;
    }
    table {
      border: 0px solid black;
      width: 100%;
      font-size: 16px;
      margin: 0px;
    }
    img {
      width: 183px;
      height: 165px;
      padding: 0;
      border-radius: 50%;
    }
    div {
      display: flex;
      justify-content:space-evenly;
    }
  </style>
</head>
<body>
<div>
{{ range . }}
<pre>
<table>
    <tr>
        <td style="width: 50%"><img src={{ .Image }}></td>
        <td style="width: 50%;text-align: center;">{{ .Name }}</td>
    </tr>
</table>
<table>
    <tr>
        <td style="text-align: center;"><iconify-icon icon="mdi:location" style="color: gray;" width="15" height="15"></iconify-icon> {{ .Location }}</td>
    </tr>
</table>
<table>
    <tr>
        <td style="width: 33%">{{ .Description }}</td>
        <td style="width: 33%;text-align: center;">Linktree<br><br><a href={{ .Links }}><iconify-icon icon="simple-icons:linktree" style="color: limegreen;" width="50" height="50"></iconify-icon></a></td>
        <td style="width: 33%;text-align: center;">Resume<br><br><a href={{ .Resume }} download><iconify-icon icon="mdi:file-download" style="color: black;" width="50" height="50"></iconify-icon></a></td>
    </tr>
</table>
</pre>
{{ end }}
</div>
</body>

</html>