<!DOCTYPE html>
<html>
<head>
  <title>Profile Tiles Demo</title>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <style>
    @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
    body {
      background-color:rgba(170, 199, 166, 0.823);
    }
    .columns {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .footer {
        padding: 3rem 1.5rem 3rem;
        background-color:rgba(170, 199, 166, 0.823);
    }
  </style>
</head>
<body>
  <h1 class="title is-1 columns is-centered">Profile Tiles Demo</h1>
  <div class="message-body">
      <span>These "tiles" and page were generated using the tools and templates in the <a href="https://github.com/britdm/profile-tiles">repository</a>. To generate a static page with this template, modify the HTML in the <a href="https://github.com/britdm/profile-tiles/blob/main/pageHTML.tmpl">pageHTML.tmpl</a> file before running the tool.</span>
  </div>
  <div style="padding: 20px;">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mollis et justo ut viverra.
          Cras vehicula feugiat tortor, et ultrices est eleifend et. Duis vel dapibus leo. 
          Praesent ut imperdiet metus, quis dignissim massa. 
          Vestibulum pellentesque turpis a ligula tincidunt, eget efficitur quam pellentesque. 
          Cras imperdiet dignissim massa, vitae dignissim sapien egestas ut. Nam hendrerit eleifend tellus ut fringilla. 
          Nunc at vehicula enim. In euismod urna ex, venenatis finibus lorem hendrerit eget. 
          Integer eget nulla quis mauris iaculis laoreet quis quis eros. Aenean mattis dolor libero, vulputate posuere justo vehicula sed. 
          Donec magna ex, congue at suscipit vitae, pulvinar in nulla. Ut a purus nisl. Maecenas eu quam massa. 
          Proin tempor ut magna non suscipit.<br><br>

          Vestibulum dapibus turpis vitae fermentum cursus. Vestibulum dignissim tellus nibh, consequat maximus lorem posuere sed. 
          Ut imperdiet massa et nulla posuere, et iaculis orci tempor. Praesent ac gravida mi. 
          Nulla auctor aliquet nisl, id fermentum orci dapibus non. Vestibulum rhoncus risus justo, ultrices finibus nisi viverra elementum. 
          Aliquam eu ex vel diam laoreet sodales. Mauris est mauris, placerat a bibendum ut, malesuada a elit.
      </p>
  </div>
  <div class="columns">
{{ range . }}
<div class="card column is-3">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                  <img src={{ .Image }} alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ .Name }}</p>
                <p class="subtitle is-6">
                    <iconify-icon icon="mdi:location" style="color: gray;" width="15" height="15"></iconify-icon>{{ .Location }}
                </p>
            </div>
        </div>
        <div class="content">
            User description: {{ .Description }} 
        </div>
        <footer class="card-footer">
            <p class="card-footer-item"><a href={{ .Links }}><iconify-icon icon="simple-icons:linktree" style="color: limegreen;" width="35" height="35"></iconify-icon></a></p>
            <p class="card-footer-item"><a href={{ .Resume }} download><iconify-icon icon="mdi:file-download" style="color: black;" width="35" height="35"></iconify-icon></a></p>
        </footer>
    </div>
</div>
{{ end }}
  </div>
  <footer class="footer">
      <div class="content has-text-centered">
        <p>
          This example site was built using <a href="https://bulma.io/">Bulma CSS</a> <iconify-icon icon="bx:smile"></iconify-icon>
        </p>
      </div>
  </footer>
</body>
</html>